body {
  background-image: url(img/KostEz.png);
  background-size: 100%;
}
.box {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: center;
  width: 580px;
  height: 680px;
  margin: 6% auto;
  background: rgba(134, 134, 134, 0.7);
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.box1 {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttonpesan {
  font-size: 24px;
}
